<h2>고객 추가</h2>
<form method="POST" action="/add_customer">
  이름: <input name="name" required> 연락처: <input name="contact">
  시작일: <input type="date" name="start_date" required>
  첫 수령분: <input type="number" input name="first_weeks" value="4" min="1" required> 주
  <button type="submit">고객 추가</button>
</form>



<h2>고객 목록</h2>
<ul>
  {% for customer in customers %}
    <li>
      <a href="/customer/{{ customer.id }}">
        {{ customer.name }}
      </a>
      <span style="color: '{% if customer.d_day > 0 %}green{% elif customer.d_day==0 %}black{% else %}red{% endif %}'; font-weight: bold;">
        {% if customer.d_day == 0 %}
          (오늘 복용일!)
        {% elif customer.d_day > 0 %}
          (D-{{ customer.d_day }})
        {% else %}
          (D+{{ customer.d_day | abs }})
        {% endif %}
      </span>
    </li>
  {% endfor %}
</ul>

<!-- 리스트 끝난 후 관리 버튼 -->
<div style="margin-top:20px; text-align:center">
  <a href="{{ url_for('manage_customers') }}">
    <button type="button">고객 관리</button>
  </a>
</div>